<div class="cards-home">
    <div class="card card-home">
      <%= link_to image_tag("https://images.unsplash.com/photo-1561240776-d9c35e3f7202?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGdhcmFnZSUyMHByaXZhdGV8ZW58MHwwfDB8fHww"), cars_path %>
      <h2 class="card-home-text" style="color:white;">Cars</h2>
       <div class="card-body">
        <h3 class="card-title">something</h3>
        <p class=card-text>this is some text about what is there</p>
      </div>
      </div>
<div class="card card-home">
      <%= link_to image_tag("https://images.unsplash.com/photo-1592693973494-15818d621d77?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGZhdm91cml0ZSUyMGNhcnxlbnwwfDB8MHx8fDA%3D"), favourites_path %>
      <h2 class="card-home-text">Favourites</h2>
      <div class="card-body">
        <h3 class="card-title">something</h3>
        <p class="card-text">this is some text about what is there</p>
      </div>
    <div class="card">
  </div>
</div>
</div>
